/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add Styles Here */






		body{margin-left: auto;
			margin-right: auto;
			width: 750px;
			padding-top: 100px;
			}
		
		
		
		
		nav a:link {text-decoration:none;
				color:black;}
		nav a:visited {text-decoration:none;
						color:black;}
		nav a:hover {opacity: 0.3;}
		nav a:active {opacity: 0.3;}
		

		
		#w{padding-right:10em;

			}
			
		#a/c{
			}
	   
	   
	   nav li{
	        text-decoration:uppercase;
		    font-family:helvetica;
		    font-size:12px;
			float:left;
			position:fixed;
			top:2em;
			right:20.1em;
			}
	
	
		
		
		
		#logo{
			float:left;
			padding-right:5em;
			
			position:fixed;
			top:2em;
			left:15.1em;
			
		
			}
			

		#resume a:link {text-decoration:none;
				color:black;}
		#resume a:visited {text-decoration:none;
						color:black;}
		#resume a:hover {opacity: 0.3;}
		#resume a:active {opacity: 0.3;}


		
		#about{padding-top:6em;
}

		
		
		
		
		#siteheader{
			z-index:100;
			position:fixed;
			top:0em;
			left:0em;
			height: 160px;
			width:100%;
			background-color:white;}
		
		
		
		
		
		
		
		
		h1{color:black;
		   font-family:helvetica;
		   font-size:12px;
		   text-transform:uppercase;
		}
		
		
		h2{color:black;
		   font-family:helvetica;
		   font-size:16px;
		   text-transform:uppercase;
		   padding-bottom:.5em;
		}
		
		p{font-family:georgia;
		  font-size:14px;
		  padding-bottom:1em;
		}
		



		.thumbnails section{
		position:relative;
		float:left;
				  padding-right:3.1em;
				  padding-top:5em;
				  width:200px;
						height:200px;
		
		}

		
.thumbnails h1 {
        z-index:10;
        width:200px;
        height:200px;
        position:absolute;
        opacity:0;
        }

.thumbnails h1:hover {
        opacity:.8;
        background-color:white;
		
		
		
		
		
		#projecta{padding-top:4.5em;
				  padding-bottom:4em;
		}
		
		
		#projectb{padding-top:4.5em;
				  padding-bottom:4em;
		}
		
		#projectc{padding-top:4.5em;
				  padding-bottom:4em;
		}
		
		
		#projectd{padding-top:4.5em;
				  padding-bottom:4em;
		}
		
		#projecte{padding-top:4.5em;
				  padding-bottom:4em;
		}
		
		
		#projectf{padding-top:4.5em;
				  padding-bottom:4em;
		}
		
		#projectg{padding-top:4.5em;
				  padding-bottom:4em;
		}
		
		
		#projecth{padding-top:4.5em;
				  padding-bottom:4em;
		}
		
		#projecti{padding-top:4.5em;
				  padding-bottom:4em;
		}
		
		
		#about{width:40%}
		
		
		#photo{padding-bottom:2.2em}
		
		
		
		