/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add Styles Here */






		body{margin-left: auto;
			margin-right: auto;
			width: 750px;
			padding-top: 100px;
			}
		
		
		
		
		a:link {text-decoration:none;
				color:black;}
		a:visited {text-decoration:none;}
		a:hover {opacity: 0.3;}
		a:active {text-decoration:underline;}
		
		#w{float:left;
		
		
			
			}
			
		#a/c{float:left;
	

		
			
			}
	   #nav{

	   		position:fixed;
			top:3em;
			right:25em;
			}
	
	
		
		
		
		#logo{
			float:left;
			padding-right:15em;
			
			position:fixed;
			top:3em;
			left:9.4em;
			
		
			}
		
		#about{padding-top:6em;
}

		
		
		
		
		#siteheader{position:fixed;
			top:0em;
			left:0em;
			height: 160px;
			width:100%;
			background-color:white;}
		
		
		
		
		
		
		
		
		h1{color:teal;
		   font-family:helvetica;
		   font-size:12px;
		   text-transform:uppercase;
		   
		   
		    

		}
		p{font-family:georgia;
		  font-size:10px;
		}
		

		
		#project1{float:left;
				  padding-right:2em;
				  padding-top:5em;
				  padding-bottom:1em;}
		#project1:hover {opacity: 0.3;
		}	
		#project1hov{float:left;}
 
		
		
		
		
		#project2{float:left;
				  padding-right:2em;
				  padding-top:5em;
				  padding-bottom:1em;}
		#project2:hover {opacity: 0.3;}		  

		
		
		#project3{float:left;
				  padding-top:5em;
				  padding-left:.2em;
				  padding-bottom:1em;}
		#project3:hover {opacity: 0.3;}			  
				  

		
		
		
		
		#project4{float:left;
				  padding-right:2em;
				  padding-bottom:1em;}
		#project4:hover {opacity: 0.3;}
		
		
		
		
		#project5{float:left;
				  padding-right:2em;
				  padding-bottom:1em;}
		#project5:hover {opacity: 0.3;}	
		
		
		
		
		
		#project6{float:left;
				  padding-bottom:1em;}
		#project6:hover {opacity: 0.3;}	
		
		
		
		
		#project7{float:left;
				  padding-right:2em;
				  padding-bottom:4em;
				  padding-bottom:1em;}
		#project7:hover {opacity: 0.3;}	
		
		
		
		
		#project8{float:left;
				  padding-right:2em;
				  padding-bottom:4em;
				  padding-bottom:1em;}
		#project8:hover {opacity: 0.3;}	
		
		
		
		
		
		#project9{float:left;
				  padding-bottom:4em;
				  padding-bottom:1em;}
		#project9:hover {opacity: 0.3;}	
		
		
		
		
		
		
		
		#projecta{padding-top:4.5em;
				  padding-bottom:4em;
		}
		
		
		#projectb{padding-top:4.5em;
				  padding-bottom:4em;
		}
		
		#projectc{padding-top:4.5em;
				  padding-bottom:4em;
		}
		
		
		#projectd{padding-top:4.5em;
				  padding-bottom:4em;
		}
		
		#projecte{padding-top:4.5em;
				  padding-bottom:4em;
		}
		
		
		#projectf{padding-top:4.5em;
				  padding-bottom:4em;
		}
		
		#projectg{padding-top:4.5em;
				  padding-bottom:4em;
		}
		
		
		#projecth{padding-top:4.5em;
				  padding-bottom:4em;
		}
		
		#projecti{padding-top:4.5em;
				  padding-bottom:4em;
		}
		
		
		#about{width:40%}
		
		
		
		
		
		
		